@{
    ViewBag.Title = "Member Added!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Member Added!</h1>
<p>
The member has been created. Please choose an option above to continue.
</p>

