@using Oasis.Lib
@using Oasis.Lib.Services
@{
    ContentService service = new ContentService();
    Content content = service.GetPage("juniors", "academy-program");

    ViewBag.Title = content.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new HtmlString(content.Content1))

@section calloutblock {
    <div class="right">
        <a href="/docs/C4_performance_sign_up.doc">
            <span class="c4">Juniors Academy <b>Sign up<br />now!</b></span>
            <span class="ir signup"><em></em>Sign Up!</span>
        </a>
    </div>
}

@section right {
    <h3>Downloads</h3>
    <ul class="verbose">
        <li><a href="/docs/C4_Academy.doc">C4 Academy Brochure</a></li>
        <li><a href="/docs/Calendar_of_Junior_Tournaments.doc">Juniors Tournament Calendar</a></li>
    </ul>
    <br />
    <br />
    <h3>Other Opportunities</h3>
    <p>
        <!--
        <strong>Video Analysis</strong>
        Using state-of-the-art technology our players will be analyzed and compared to top pros.<br />
        <br />
        -->
        <strong>Junior Socials: Every Friday Night!</strong>
        We offer fun, creative social events for all ages.
    </p>
}