@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Calendar">
    <div id="Calendar_Top">
        <h2>Calendar</h2>
        <h4>...coming soon</h4>
    </div>
    <div id="Calendar_Left">
        &nbsp;
    </div>
    <div id="Calendar_Middle">
        &nbsp;
    </div>
    <div id="Calendar_Right">
        <div id="Calendar_Callout">
            <h4>Contact:</h4>
            <h2>972.772.7768</h2>
            <a href="#" rel="zrzorefuvc/bnfvfgraavf.pbz" class="email">contact</a>
        </div>
    </div>
</div>

