@model Oasis.Lib.Models.ConstructionModel
@{
    ViewBag.Title = "Construction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>The Club</h1>
<p>
    Construction is well underway. Most of the excavation and grading 
    has been completed and court construction will begin soon.
</p>
<p>
    Tennis programs, for both juniors and adults of all levels, will 
    begin in early 2011.
</p>

<h3>PHASE 1</h3>
<ul>
    <li>6 Climate Controlled Indoor Tennis Courts</li>
    <li>8 Outdoor Tennis Courts</li>
    <li>Salt-Water, Zero Entry Beach Pool</li>
    <li>Bar and Grill</li>
    <li>Basketball Court</li>
    <li>Backboard & Ball Machine</li>
    <li>Beach volleyball Court</li>
    <li>Pro Shop</li>
</ul>
<h3>PHASE 2</h3>
<ul>
    <li>Clubhouse</li>
    <li>Restaurant and Bar</li>
    <li>Center Court with Stadium Seating for 2,000</li>
    <li>Large Pool Deck with Cabanas</li>
    <li>Jacuzzis</li>
    <li>Outdoor Movie Screen</li>
    <li>Events Center (capacity: 150 200)</li>
    <li>Comfortable Reception Area</li>
    <li>Childcare Area</li>
    <li>Pro Shop</li>
    <li>Dressing Rooms and Locker Rooms</li>
    <li>Administrative Offices</li>
    <li>Walking Trails</li>
    <li>Outdoor Islands for Private Parties</li>
    <li>Fully Equipped Fitness Center</li>
</ul>
<h3>PHASE 3</h3>
<ul>
    <li>2 Red Clay Courts</li>
    <li>3 Synthetic Grass Courts</li>
</ul>

@section right {
    @Html.Partial("_BlogList", Model.BlogList)
    <br />
    <br />
    <h3>Club Events</h3>
    <iframe style="width: 335px; height: 269px; border:thin; overflow: hidden;" frameborder="0" scrolling="auto" id="ids-miniecal" name="ids-miniecal" src="http://tennis.oasisbeachandtennisclub.com/components/miniecalendar/index.cfm?clubid=120630&showone=4500&pid=47E6647D-F4EA-9DD7-FFEE960C486B51AD"></iframe>
}
