@{
    ViewBag.Title = "Delivery Methods & Timing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delivery Methods and Timing</h1>
<h3>Order Timing</h3>
<p>
    Shortly after you place your order, you will receive an Order Acknowledgement email to confirm your order details, including shipping and delivery estimates for each item. Once your item has prepared for shipment and ships, you will receive a Shipment Notification email with carrier and tracking information.
    You can visit online the Order Status page 24 hours a day, 7 days a week, to view the most up-to-date status of your order.
</p>

<h3>Shipping and Delivery Estimates</h3>
<p>
    The 'Ships' timeframe is an estimate of when the item will prepare for shipment and ship from our warehouse. The items on your order will ship as they become available.
    <ul class="verbose">
        <li>Items that ship within "24 hours" are estimated to ship the same or following business day.</li>
        <li>Items with longer estimates ship from our warehouse within the timeframe indicated (e.g., 7-10 business days).</li>
        <li>Custom-configuring your order (such as stringing, grips or other work) may take additional time to prepare for shipment, and will increase the 'Ships' timeframe.</li>
    </ul>
</p>
<p>
    The 'Delivers' timeframe is an estimate of when the item will be delivered to your shipping address after it ships. The estimated delivery date depends on the shipping method you choose during checkout.<br />
    <br />
    When you select expedited shipping, your item will take the same amount of time to prepare for shipment ('Ships'), but will expedite the time it takes to deliver to your doorstep ('Delivers').
    All estimates are based on business days.
</p>

<h3>Shipping Methods</h3>
<p>
    The Oasis Beach & Tennis Club Online Store U.S. offers a variety of shipping methods to meet your needs:
    <ul class="verbose">
        <li>Standard Shipping — Delivers within 6 business days after shipping.</li>
        <li>2 Day Shipping — Delivers within 2 business days after shipping.</li>
        <li>2-3 Day International Shipping — Delivers within 2 to 3 business days after shipping.</li>
        <li>Next Business Day — Delivers within 1 business day after shipping.</li>
    </ul>
</p>

<h3>Shipping Costs</h3>
<p>
    Shipping costs are calculated and displayed before you complete your order on the Oasis Beach & Tennis Club Online Store. You can also see shipping costs on the Order Acknowledgment email and on online Order Status page. If you order multiple items, you may receive separate shipments. You will receive a Shipment Notification email for each shipment with the carrier's name and tracking information, if available. Shipping fees for the entire order will be charged when your first item is shipped.
</p>



