@{
    ViewBag.Title = "Juniors Development Program";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Juniors Development Program</h1>
<p>
    For the kids that are a bit bigger than our Quickstarts, we have our Development Program. The Development Programs are
    designed for kids of all ages and levels, to help them learn and love tennis, and also helps teach them some life lessons
    and foundations!
</p>
<div>
    <h3>Teen Tennis</h3>
    <p>
        Tennis is a great sport for any age, but especially teenagers! Through tennis, they will be active, challenged, and 
        experience athletic success that is great for their self-esteem. Tennis will provide a means for fun, friends and 
        fitness in their lives.
    </p>
</div>
<div>
    <h3>Pre-teen Tennis</h3>
    <p>
        Fun, challenging tennis designed for beginner kids ages 11-12.
    </p>
</div>
<div>
    <h3>Tennis for Teens</h3>
    <p>
        Beginner program designed to teach tennis to teenagers. Emphasis is on fun, challenging activies that teach the
        basic strokes, strategies, and scorekeeping for teenagers.
    </p>
</div>
