@{
    ViewBag.Title = "Photo Gallery";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}

<h1>Photo Gallery</h1>

<!-- START EMBED CODE -->

<script type="text/javascript" src="http://oasis.slideshowpro.com/m/embed.js"></script>

<div id="gallery-50283">

</div>

<script type="text/javascript">
    SlideShowPro({
        attributes: {
            id: "gallery-50283",
            width: 930,
            height: 600
        },
        mobile: {
            auto: false,
            poster: "classic"
        },
        params: {
            bgcolor: "#000000",
            allowfullscreen: true
        },
        flashvars: {
            xmlFilePath: "http://oasis.slideshowpro.com/images.php?gallery=50283",
            paramXMLPath: "http://oasis.slideshowpro.com/m/params/ice.xml",
            startup: "Open Gallery",
            navAppearance: "Visible on Rollover"
        }
    });
</script>

<!-- END EMBED CODE -->
