@{
    ViewBag.Title = "Pool Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pool Memberships</h1>
<p>
    Oasis has many world-class amenities, but our pool is unlike anything around. Come spend the day at 
    our pool and be transported back to your last resort vacation, with the beach entry, fountains, life guards,
    full service bar and grill, and a swim-up bar.
</p>
<p>
    Along with our normal memberships we also offer a pool-only membership that allows you full access to
    our pool.
</p>
<div>
    <h3>Pool Membership Details</h3>
    <ul class="verbose">
        <li>$500 per family</li>
        <li>$300 for individual (adult or child)</li>
    </ul>
    <i>Membership period is for Memorial Day through Labor Day. Hours and policies coming soon!</i>
</div>

@section right {

    <h3>Photos</h3>
    <div class="blackBox">
        <span><a href="/content/photos/beach_entry_cabana_bar.jpg" class="lightbox" rel="juniorsphoto"><img src="/content/photos/beach_entry_cabana_bar.jpg" width="110" height="100" /></a></span>
    </div>
    <div class="blackBox">
        <span><a href="/content/photos/sand_beach.jpg" class="lightbox" rel="juniorsphoto"><img src="/content/photos/sand_beach.jpg" width="110" height="100" /></a></span>
    </div>
    <div class="blackBox">
        <span><a href="/content/photos/aerial_1.jpg" class="lightbox" rel="juniorsphoto"><img src="/content/photos/aerial_1.jpg" width="110" height="100" /></a></span>
    </div>
    
}