@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Privacy Policy</h1>
<p>
    Oasis Beach and Tennis Club is a corporation which is committed to promoting the game of tennis and other social activities for its members and guests by maintaining and managing a tennis course and clubhouse facilities. Oasis also promotes, manages and conducts tennis tournaments and other entertainment such as banquets and weddings.
</p>
<p>
    Oasis is dedicated to maintaining confidentiality with respect to personal information that has been provided to it. This privacy statement has been prepared to affirm Oasis’s commitment to maintaining the privacy of its members and others and to inform you of its practices concerning the collection, use and disclosure of information provided to it. 
</p>
<p>
    The commitment and obligation to maintain privacy applies to the Board of Governors, employees, contractors and agents who provide services to or on behalf of Oasis in connection with its provision of information and services to its members and guests.
</p>
<p>
    Oasis collects information, about its members through a Membership Application form and does so to fulfill the objectives of the Club. Oasis collects members’ names, family relationships, birth dates, addresses, telephone numbers, fax numbers, and e-mail addresses. Oasis may also collect employment and credit information in order to verify creditworthiness and to secure payment of accounts. The achievement of Oasis’s objectives involve, among other things: 
</p>
<ul class="verbose">
    <li>Communicating with members by mail and/or by e-mail to provide account and membership information, newsletters, surveys, election ballots, notices of meetings and information about Club events;</li>
    <li>Printing an annual roster of members’ names, addresses and telephone numbers and distributing the roster to other Club members;</li>
    <li>Maintaining an annual roster of members’ names, addresses and telephone numbers on our website to which other Club members have access by way of a member password;</li>
    <li>Verifying the appropriate membership categories and fees, based on age or family relationships;</li>
</ul>
<p>
    Oasis also collects personal information necessary for promoting, managing and conducting tournaments, weddings and banquets at Oasis. Contact information, such as names, addresses, and telephone numbers is obtained by telephone or by the applicant(s) filling out a Confirmation form. The information is used to communicate with the individual(s) for the purposes of organizing their event. If it is a recurring event, the information will be used to contact the individual(s) to book future events. If it is a non-recurring event, the information will be retained for auditing purposes. 
</p>
<p>
    In order to fulfill the objectives of Oasis it is required to disclose personal information to others. Parties to whom personal information is disclosed include:
</p>
<ul class="verbose">
    <li>United States Professional Tennis Association</li>
    <li>Texas State Liquor Authority</li>
    <li>Score Advertising</li>
    <li>Service providers, such as printing companies and auditors</li>
</ul>
<p>
    In order to protect personal information and the right to privacy, Oasis endeavors to:
</p>
<ul class="verbose">
    <li>Maintain reasonable security standards to protect our systems, documentation, and information against unauthorized access;</li>
    <li>Retain service providers that are bound to maintain confidentiality and to not use personal information for unauthorized purposes;</li>
    <li>Familiarize our employees with reasonable procedures regarding the collection, use, and distribution of personal information;</li>
    <li>Not collect, use or distribute personal information for purposes other than those identified, without obtaining prior consent;</li>
    <li>Obtain appropriate consents for the collection, use, and distribution of personal information</li>
</ul>
<p>
    There are circumstances where disclosure of personal information may be justified or permitted under a legal duty or right and Oasis may disclose such information without consent. Personal information may include all information on the Membership Application form or the Confirmation form for event organizers. In such circumstances where, in the opinion of Oasis, it is appropriate or necessary to disclose personal information, Oasis will not disclose more information than is required.
</p>
<p>
    Oasis will retain personal information provided to it only for so long as it is required for the purposes stated above. Oasis endeavors to maintain the accuracy of any information about members in its possession. It cannot, however, assure the accuracy of such information.
</p>
<p>
    If you would like access to your personal information, or to update or challenge the accuracy of personal information held by Oasis, please contact our Privacy Officer, at the following addresses:
</p>
<p>
    <b>
    The Manager,<br />
    Oasis Beach and Tennis Club
    </b>
</p>
<p>
    Address:<br />
    5757 State Hwy 205<br />
    Rockwall, TX 75032<br />
    Telephone: 972-772-7768<br />
    Fax: 214-279-4555<br />
    E-Mail: info@oasistennis.com<br />
</p>
<p>
    You may also withdraw your consent, or limit your consent to the ways in which Oasis may collect, use, or disclose your personal information. Please contact Oasis’s Privacy Officer if you wish to limit or withdraw your consent. If you do not limit or withdraw your consent, Oasis will assume that it has your consent for the continued use of your personal information for purposes described in this Policy.
</p>
<p>
    This Privacy Policy is effective January 1, 2011. Oasis may from time to time review and revise its privacy practices and this Policy.
</p>