@using Oasis.Lib
@using Oasis.Lib.Services
@{
    ContentService service = new ContentService();
    Content content = service.GetPage("juniors", "quickstart-program");

    ViewBag.Title = content.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(new HtmlString(content.Content1))

@section calloutblock {
    <div class="right">
        <a href="/docs/C4_performance_sign_up.doc">
            <span class="c4">Juniors Academy <b>Sign up<br />now!</b></span>
            <span class="ir signup"><em></em>Sign Up!</span>
        </a>
    </div>
}

@section right {
    <h3>Interested?</h3>
    <p>
        Contact Matt Hoover for more information:<br />
        <br />
        817.846.4652 cell<br />
        matt10spro@yahoo.com
    </p>
}