@{
    ViewBag.Title = "Returns, Refunds & Cancellations Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Returns, Refunds & Cancellation Policy</h1>
<h3>Returns & Refunds</h3>
<ul class="verbose">
    <li>Returned items that have suffered physical damage by the customer will not be accepted for any reason</li>
    <li>All products purchased from Oasis Beach & Tennis Club may be returned within a period of 30 days from the date of purchase</li>
    <li>Only those items specifically designated as being on Back-Order may be returned within a period of 30 days from the date of delivery</li>
    <li>All returns are subject to a 25% restocking fee</li>
    <li>Defective parts or systems will be exchanged with the same parts or systems</li>
    <li>Shipping is non-refundable</li>
    <li>Refunds for credit card purchases will only be credited back to the original credit card</li>
    <li>All returned items must be received in the original packaging, undamaged, with no missing parts, instructions or accessories, and must be in resalable condition</li>
    <li>An order cancellation fee of 10% will be charged on all orders that have already been processed, but not shipped. All orders will be processed within 24-48 hours</li>
</ul>

<h1>Cancellation Policy</h1>
<h3>Membership Cancellation</h3>
<p>
    For our cancellation policy, please refer to the specific cancellation terms for your membership contract. These can vary from contract-to-contract. If you have any questions please contact us using the information below.
</p>


