@{
    ViewBag.Title = "Spring Break Camps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Spring Break Camps</h1>
<p>
    Staying home for Spring Break this year, but don't want your kids to be bored? Oasis offers 
    a variety of Spring Break camps for various levels, from beginners to advanced! Please
    review the following offerings and <a href="/contact/">contact us</a> for more details!
</p>
<br />
<div>
    <h3>Camp Details</h3>
    <br />
    <strong>Quickstart Camp (Beginners)&nbsp;&nbsp;<a href="/docs/spring_break_Quickstart_Camp.jpg"><img src="/content/images/ir_readmore.jpg" /></a></strong>
    <p>
        For beginners age 5-10, this camp will use the Quickstart format to teach your kids the
        tennis foundations and basics they'll need to become a great player!<br />
        <br />
        <b>When:</b> March 14 - 17, 1 to 3pm<br />
        <b>Cost:</b> $25/day or $80 for entire camp<br />
    </p>
    <br />
    <strong>Teen Camp (Beginners)&nbsp;&nbsp;<a href="/docs/spring_break_Teen_Tennis_Camp.jpg"><img src="/content/images/ir_readmore.jpg" /></a></strong>
    <p>
        For beginners age 11 and up, this camp will work with your teenagers to teach them the
        tennis foundations, and reinforce any past coaching they may have.<br />
        <br />
        <b>When:</b> March 14 - 17, 1 to 3pm<br />
        <b>Cost:</b> $25/day or $80 for entire camp<br />
    </p>
    <br />
    <strong>ZAT Camp (Advanced)&nbsp;&nbsp;<a href="/docs/spring_break_ZAT_Camp.jpg"><img src="/content/images/ir_readmore.jpg" /></a></strong>
    <p>
        For advanced ZAT players of all ages, this camp will reinforce tennis fundamentals with your kids, while
        teaching them the finer points of the game, including advanced strategies, improved foot work and the endurance
        to give 110% for the full match.<br />
        <br />
        <b>When:</b> March 14 - 17, 10 to 1pm<br />
        <b>Cost:</b> $35/day or $100 for entire camp<br />
    </p>
</div>

@section right {
    <h3>Interested?</h3>
    <p>
        Contact Raul Morant for more information:<br />
        <br />
        <a href="#" rel="ezbenag/bnfvfgraavf.pbz" class="emailhrefonly">Click here to email Raul!</a><br />
    </p>
}