@{
    ViewBag.Title = "USTA Links & Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>USTA Links & Information</h1>
<p>
    Sometimes the USTA site can be a challenge to maneuver and find the information you're looking for. 
    Because of which, we've put together a collection of the various links that you'll need that are
    specific to Oasis.
</p>
<p>
    <h3>Important USTA Links</h3>
    <ul class="verbose">
        <li><a href="http://tennislink.usta.com/Tournaments/TournamentHome/Tournament.aspx?T=103747">Oasis Spring Break Junior Open, March 12-13</a></li>
        <li><a href="http://tennislink.usta.com/Tournaments/TournamentHome/Tournament.aspx?T=100004">Oasis Adult One Day Doubles Tournament, April 2</a></li>
        <li><a href="http://tennislink.usta.com/tournaments/TournamentHome/Tournament.aspx?T=99999">Oasis Spring Adult Open, April 29-May 1</a></li>
        <li><a href="http://www.texas.usta.com/Tournaments-Pages/3792_Master_Schedule/">USTA Monthly Tournament Schedule</a></li>
    </ul>
</p>

