<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsAdminSite" value="true"/>
    <add key="FlickrKey" value="8a9641f1a765e1f3f1b3a7b55a632158"/>
    <add key="FlickrSecret" value="835464c839c7bdf5"/>
  </appSettings>
  <connectionStrings>
    <add name="OasisEntities" connectionString="metadata=res://*/OasisModel.csdl|res://*/OasisModel.ssdl|res://*/OasisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=OasisTennis;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>