@{
    ViewBag.Title = "Invoice #";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
<style type="text/css">
    
    .InvoiceDetails 
    {
        float: left;
        width: 60%;
    }
    
    .InvoicePrice
    {
        float: left;
    }
    
</style>

<table width="100%" border="0">
    <tr>
        <td width="65%">
            <h1>Invoice #1234</h1>
        </td>
        <td width="35%">
            Jason Alexander<br />
            5295 Standing Oak Lane<br />
            Rockwall, TX<br />
            75032<br />
        </td>
    </tr>
</table>
<br />
<br />
<div>
   <div class="InvoiceDetails">
        <h3>Description</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim dui, ornare sit amet posuere ut, porttitor ac sapien. Pellentesque vel nulla diam, nec ultricies sem. Sed dapibus sem nec ipsum tristique ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque porttitor turpis et pulvinar. Cras dignissim mattis laoreet. Suspendisse tristique congue porttitor. Integer eleifend urna purus, ac tincidunt leo. Donec elit risus, pulvinar vel feugiat facilisis, fermentum sit amet risus. Donec elementum diam consectetur sem faucibus consequat non ac turpis. Curabitur fringilla mi sed turpis adipiscing elementum. Integer molestie nisi vitae neque posuere et convallis lacus dictum. Donec justo velit, imperdiet eu cursus a, eleifend in purus. Nam egestas condimentum augue sit amet volutpat. Cras leo diam, placerat sit amet pretium at, molestie nec metus. Morbi lacinia euismod orci, sit amet congue justo commodo accumsan. Praesent ut risus in erat feugiat volutpat ut et diam. Ut aliquet dapibus velit nec lobortis.
    </div>
    <div class="InvoicePrice">
        <h3>Price</h3>
        $95.00
    </div>    
</div>
