@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Welcome to the Oasis Manager!</h1>
<p>From this website you can manage and update many aspects of the Oasis site.</p>
