@{
    ViewBag.Title = "Event Updated!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Event Updated!</h1>
<p>
The event has been updated. Please choose an option above to continue.
</p>

