@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = false;
}

<h1>Events Management</h1>
<p>
Here you can manage all aspects of the events, including:
    <ul>
        <li><a href="/events/list/">Managing Events</a></li>
        <li><a href="/events/create/">Add Event</a></li>
    </ul>
</p>


@section otheroptions {
    <li><a href="/events/list/">Manage Events</a></li>
    <li><a href="/events/create/">Add Event</a></li>
}

@section search {
    <form action="/events/search/" method="get">
        <input type="text" name="q" /><br />
        <input type="submit" value="Search Events" />
    </form>
}
