@{
    ViewBag.Title = "Group Changes Saved!";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Group Changes Saved!</h1>
<p>
    Click <a href="/messaging/groups/">here</a> to go back to the Groups listing.
</p>
