@{
    ViewBag.Title = "EditGroupMembersConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Group Members Updated!</h1>
<p>
    The messaging group members have been updated. <a href="/messaging/">Click here</a> to return to managed groups.
</p>
