@model Oasis.Lib.Models.AdminGroupsEditModel
@{
    ViewBag.Title = "Edit Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Edit Group</h1>
<form action="/messaging/EditGroupConfirm" method="post">
<div>
    <b>Group Name:</b><br />
    <input type="text" id="GroupName" name="GroupName" value="@Model.Group.GroupName" size="40" maxlength="25" /><br />
    <br />
    <b>Description:</b><br />
    <textarea id="Description" name="Description" rows="10" cols="60">@Model.Group.Description</textarea><br />
    <br />
    <input type="hidden" id="GroupId" name="GroupId" value="@Model.Group.GroupId" />
    <input type="submit" value="Save Group" class="button" />
</div>
</form>
