@{
    ViewBag.Title = "Messaging Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsOneColumn = true;
}

<h1>Messaging Members</h1>
<p>
There are really only two options for messaging members:
    <ul>
        <li><a href="/messaging/groups/">Manage Groups</a></li>
        <li><a href="/messaging/SendEmail/">Send Email to Members</a></li>
        <li><a href="/messaging/SendText/">Send Text to Members</a></li>
    </ul>
</p>
