@{
    var imageName = "/content/images/index01.jpg";
    var pageName = ViewContext.RouteData.Values["
    
}

<div id="ImageRoller">
    <img src="@imageName" alt="Home1.jpg" />
    <!--
    <img src="Index02.jpg" style="display: none;" alt="Home1.jpg" />
    <img src="/content/images/index03.jpg" style="display: none;" alt="Home1.jpg" />
    -->
</div>
