@{
    ViewBag.Title = "Oasis Beach & Tennis Club | Account Activation";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}

<h1>Account activated!</h1>
<p>
    Your email address has been validated, and your account has been activated.<br />
    <br />
    Please click <a href="/user/">here</a> to login!
</p>

