@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<h1>Recover Password</h1>
<form action="/user/send-password/" method="post">
<div>
    Please enter your email address below and we will send your password to you:<br />
    <br />
    <input type="text" name="emailAddress" maxlength="255" size="40" /><br />
    <br />
    <input type="submit" class="button" value="Recover Password" />
</div>
</form>

