@{
    ViewBag.Title = "Registration Confirmation";
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<h1>You have been registered!</h1>
<p>
    We've sent you an email to the email address you registered with. Please check your email and 
    visit the link we've provided.<br />
    <br />
    Once that is complete you'll be all set to use the site!
</p>

