@{
    ViewBag.Title = "Password Sent!";
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<h1>Password sent!</h1>
<p>
    Your password has been reset and emailed to you. Please check your email.
</p>

