@{
    ViewBag.Title = "Oasis Beach & Tennis Club | About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function theRotator() {
        //Set the opacity of all images to 0
        $('div#aboutRotator ul li').css({ opacity: 0.0 });

        //Get the first image and display it (gets set to full opacity)
        $('div#aboutRotator ul li:first').css({ opacity: 1.0 });

        //Call the rotator function to run the slideshow, 6000 = change to next image after 6 seconds
        setInterval('rotate()', 4000);

    }

    function rotate() {
        //Get the first image
        var current = ($('div#aboutRotator ul li.show') ? $('div#aboutRotator ul li.show') : $('div#aboutRotator ul li:first'));

        //Get next image, when it reaches the end, rotate it back to the first image
        var next = ((current.next().length) ? ((current.next().hasClass('show')) ? $('div#aboutRotator ul li:first') : current.next()) : $('div#aboutRotator ul li:first'));

        //Set the fade in effect for the next image, the show class has higher z-index
        next.css({ opacity: 0.0 })
	        .addClass('show')
	        .animate({ opacity: 1.0 }, 1000);

        //Hide the current image
        current.animate({ opacity: 0.0 }, 1000)
	        .removeClass('show');

    };

    $(document).ready(function () {
        //Load the slideshow
        theRotator();
    });

</script>

<div id="aboutRotator">
    <ul>
        <li class="show"><img src="/Content/Images/About_1_small.jpg" alt="pic1" /></li>
        <li><img src="/Content/Images/About_2_small.jpg" alt="pic2" /></li>
        <li><img src="/Content/Images/About_3_small.jpg" alt="pic3" /></li>
    </ul>
</div>

<div id="About">
    <div id="About_Top">
        <div id="About_Left">
            <h1>OASIS Beach & Tennis Club</h1>
            <h2>About Us</h2>
        </div>
        <div id="About_Right">
            <a href="" target="_blank">>OASIS Membership Application</a>
        </div>
    </div>

    <div id="About_Bottom">
        <p>Welcome to Oasis Beach & Tennis Club, Rockwall's premier country club.  Come relax and unwind in style with your family and friends.  Whether you train hard and play tough or want to enjoy a night out with some great cuisine or just hang out and watch the game, Oasis Beach & Tennis Club wants to be your family's home away from home.</p>
        <p>Oasis Beach & Tennis Club is designed to cater to the best of the best.  Our members will have the only club in the Dallas Metroplex to offer all four playing environments (indoor, hard, red clay & synthetic grass).  In December, 2010, our indoor climate controlled complex will be one of the largest in the Metroplex, and we will be adding even more indoor courts.  In order to accommodate large tournaments and exhibitions, center court will have stadium seating for 2,000.  Our members expect the very best dining experience and they will not be disappointed.  Kids will love our salt-water pool featuring an outdoor movie theatre or hanging out in the video arcade. </p>
        <p>Oasis Beach & Tennis Club will also be the home of C4 Tennis Academy, an international total developmental tennis program.  C4 will feature world-class tennis coaches, who are experts in the cutting-edge art of tennis development.  The international component of C4 will provide a rich cultural experience for all participants and a competitive advantage for serious tournament players.  Programs will be offered for players of all levels, as well as tournament participation and travel with coaches.  </p>
    </div>
</div>

