@{
    ViewBag.Title = "Oasis Beach & Tennis Club | Frequently Asked Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="FAQ">
    <div id="FAQ_Content">
        <div id="FAQ_Scroller">
            <h2>Oasis Beach and Tennis Club<br />
                Frequently Asked Questions</h2>
    
            <ul>
                <li>
                    <p><b>How many courts will Oasis Beach and Tennis Club have?</b></p>
                    <p>In Phase One, there will be 8 outdoor courts & 6 indoor courts.  Beside every two courts, there will be a nice covered viewing area with bistro tables & chairs for socializing while watching. </p>
                    <p>In Phase Two, we will add our fabulous center court, which will be sunken (so no windscreens) with seating for 2,000 spectators.  It will have a removable cover for both shade & inclement weather and will be situated so that it can be viewed from inside the main clubhouse.</p>
                    <p>In Phase Three, we will add a fully equipped fitness center,2 clay courts and3 synthetic grass courts.</p>
                </li>
                <li>
                    <p><b>What are the member amenities for Oasis Beach and Tennis Club?</b></p>
                    <p>Phase One: 8 outdoor courts, 6 indoor courts, pro shop, bar and grill, basketball sports court with backboard, beach volleyball/sand tennis courts and a 10% discount in the pro shop, bar and grill.</p>
                    <p>Phase Two: Main Clubhouse including a high-quality restaurant/bar, dressing rooms (permanent lockers will be available), pro shop, comfortable reception areas, childcare facilities including a  video game arcade, administrative offices, walking trail for enjoying the beautiful grounds & wooded areas, and an events center suitable for weddings, receptions and other events for up to 200 people.</p>
                    <p>Beach entry, salt-water pool with a large deck featuring the pool bar & grill, outdoor dining facility, jacuzzi, cabanas, and attached outdoor theater.</p>
                    <p>Phase Three: Clubhouse will be expanded.  Amenities include a fully equipped fitness center.  More indoor, clay, and grass courts will be added.</p>
                </li>
                <li>
                    <p><b>When will Oasis Beach and Tennis Club Open?</b></p>
                    <p>Phase One: Courts are scheduled for completion by December, 2010<br />
                        Phase Two: Grand Opening on Memorial Day, 2011<br />
                        Phase Three: Expanded Clubhouse set to open Spring, 2012</p>
                </li>
                <li>
                    <p><b>Does my membership include my family?</b></p>
                    <p>Yes, Oasis Beach & Tennis Club wants to be your familys home away from home by offering services & amenities for every member of the family.  Membership is for dependents age 21 and under.</p>
                </li>
                <li>
                    <p><b>Is there a food and beverage minimum, either monthly, quarterly or yearly?</b></p>
                    <p>No, there is no food and beverage minimum, period.</p>
                </li>
                <li>
                    <p><b>Can Oasis guarantee that no future member will have lower dues than the founding 1st 100 members?</b></p>
                    <p>Yes, the founding 1st 100 members will be guaranteed the lowest dues for perpetuity.</p>
                </li>
                <li>
                    <p><b>When do I pay the initiation fees?</b></p>
                    <p>
                        1st 100 members<br />
                        Option 1<br />
                        The initiation fee of $1000 does not become due until the completion of Phase Two (Phase Two will be completed in time for the Grand Opening on Memorial Day, 2011).  The $1000 can be financed over the following 6 months.</p>
                    <p>
                        Option 2<br />
                        Same as option 1, but initiation fee is $250</p>
                    <p>
                        Members after 1st 100<br />
                        $250 initiation fee upfront, $175/month dues</p>
                </li>
                <li>
                    <p><b>What happens if I need to terminate my membership before the end of my two year contract? </b></p>
                    <p>If you chose option 1 in the 1st 100 members, you will be refunded ½ of your paid initiation fee.  You will still be accountable to pay out the remaining dues for the length of the contract.</p>
                    <p>If there are extenuating circumstances, the club will be happy to work with you.</p>
                </li>
                <li>
                    <p><b>Im a senior (over age 60), do I have to pay full price?</b></p>
                    <p>No, if you join in phase 1, your monthly dues will be locked in at $100 per month for perpetuity.</p>
                </li>
                <li>
                    <p><b>Are there plans I can see for the three phases?</b></p>
                    <p>Yes, these are available on our website, brochure and in our sales office.  </p>
                </li>
                <li>
                    <p><b>Do I have to pay extra for courts?</b></p>
                    <p>Yes and No.  You can reserve courts during operating hours, but there will be a charge for use of our indoor courts consistent with other indoor facilities.</p>
                </li>
                <li>
                    <p><b>Can I charge my activities at the club?</b></p>
                    <p>Yes, you will be issued a membership card that will work like a credit card where you can charge your activities.</p>
                </li>
                <li>
                    <p><b>Do I pay my bill monthly?</b></p>
                    <p>Yes, you can either do an automatic bank draft, an on file credit card to pay your bill.</p>
                </li>
                <li>
                    <p><b>Will childcare be available?</b></p>
                    <p>Yes, a childcare area is planned for the clubhouse in phase 2</p>
                </li>
                <li>
                    <p><b>What can I access off of the website?</b></p>
                    <p>The club website is the focal point of all of our programs and services.  You will be able to access our find a match service that lists the membership roster and their levels so you can easily find matches.</p>
                    <p>All of our junior and adult programming will be on the website.  You can even sign up online for all programs, including mixers, clinics, etc.  In addition, you can shop at our fully stocked pro shop and even special order merchandise from our website.</p>
                </li>
                <li>
                    <p><b>What will the events be like at the club?</b></p>
                    <p>Our philosophy is that fun, creative events for the whole family are the key to member enjoyment.  We will have at least 4 mixers each month and 1 adult and 1 junior tournament each month.  There will be at least 1 tennis event every weekend.</p>
                    <p>In addition, the club is a perfect place to host all types of parties and will serve as an event venue for any function.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

